@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is how I can added download font from local folder */
/* @font-face {
  font-family: "Oswald";
  src: url("../public/fonts/Oswald-VariableFont_wght.ttf");
} */

:root {
  font-family: Jost, Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* When You have complex or long tailwind cls */
@layer components {
  .btn-primary {
    @apply py-2 max-mobile:w-full tablet:px-7 bg-[#ff8e69] text-[#242424] font-semibold rounded-md shadow-md hover:bg-[#ff6347];
  }

  .page-content-center {
    @apply flex items-center justify-center;
  }
}

.control-options {
  @apply py-4 px-8 hover:bg-[#ff6347] hover:text-[#242424] hover:transition-all hover:duration-500 rounded-md border border-dashed border-[#f9f9f9] text-white text-[1.5rem];
}

.filter-info {
  @apply flex text-white text-[1rem] justify-between;
}
.slider-range {
  @apply w-full h-2  accent-[#ff6347];
}

.control-options-rotate-flip {
  @apply px-4 py-2 mt-2 flex items-center justify-center hover:bg-[#ff6347] hover:text-[#242424] hover:transition-all hover:duration-500 rounded-md border border-dashed border-[#f9f9f9] text-white text-[1.5rem];
}

.preview-img {
  @apply overflow-hidden;
}

.preview-img > img {
  @apply w-full rounded-md;
}
